* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Koulen';
    src: url('./fonts/Koulen-Regular.ttf');
}

body {
    background-color: #2b46ab;
}

nav {
    background-color: white;
    margin-bottom: 35px;
    
}

#nav-links-container {
    display: flex;
    justify-content: space-around;
    margin: 0 25% 0;
}

.nav-link {
    font-size: 38px;
    font-family: 'Koulen', sans-serif;
    color: #fcba03;
    text-shadow: 1px 1px rgba(0,0,0,.8);
}

.nav-link:hover{
    cursor: pointer;
    color: #e6ad11;
}

li {
    list-style: none;  
}

#content {
    
}

.letter {
    height: 150px;
    width: auto;
    margin: 0 3px 7px;
}

#info-container {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

#hours-container, #specials-container {
    background-color: white;
    width: 400px;
    border-radius: 6px;
    padding: 30px;
    box-shadow: 2px 3px 5px rgba(0,0,0,.2);
}

.heading {
    font-family: 'Koulen', sans-serif;
    font-size: 36px;
    text-align: center;
}

#hours-inner-container {
    display: flex;
    margin: 0 60px 0;
    justify-content: space-between;
}

#days-list > li, #times-list > li {
    font-size: 24px;
    margin-bottom: 6px;
}

#specials-container {
    background-color: #fcba03;
    margin-left: 20px;

}

.specials-item {
    font-size: 20px;
}

footer {
}

